@inject NavigationManager NavigationManager

<div class="card search-result align-self-stretch">
    <div class="card-body">
        <div class="card-title d-flex">
            <a class="song-name" target="_blank" href="@("/" + ChordSheet.Id)">
                @ChordSheet.Song
            </a>
            @if (!string.IsNullOrWhiteSpace(ChordSheet.HebrewSongName))
            {
                <a class="hebrew-song-name" target="_blank" href="@("/" + ChordSheet.Id)">
                    @ChordSheet.HebrewSongName
                </a>
            }
            <a class="hebrew-song-name"></a>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">
            <a class="artist" href="@($"/artist/{Uri.EscapeDataString(ChordSheet.Artist)}")">
                @ChordSheet.Artist
            </a>
        </h6>
        <h6 class="card-subtitle mb-2 text-muted key" style="display: @(string.IsNullOrEmpty(ChordSheet.Key) ? "none" : "block")">
            <span>Key of</span>
            @ChordSheet.Key
        </h6>
    </div>
</div>

@code {
    [Parameter]
    public ChordSheet ChordSheet { get; set; }
}
