@model MessianicChords.Models.HomeViewModel
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Title</title>
    <meta name="description"content="@Model.Description" />
    <meta name="keywords" content="@Model.Keywords" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Lora&display=swap" rel="stylesheet" />

    @* Origin trial: tabbed web apps *@
    <meta http-equiv="origin-trial" content="AsB2zLC7tcimPpjmmB6G9YOYg8YOxG/FTfUy4YPy53kHJuJtSFv7p1KpEzGGoucyXFjOrAfIzs7ABYAJNB1QWQ8AAABbeyJvcmlnaW4iOiJodHRwczovL21lc3NpYW5pY2Nob3Jkcy5jb206NDQzIiwiZmVhdHVyZSI6IldlYkFwcFRhYlN0cmlwIiwiZXhwaXJ5IjoxNzE0NTIxNTk5fQ==" />

    <link rel="icon" href="/assets/images/16x16.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="/assets/images/16x16.ico" sizes="16x16" type="image/x-icon" />
    <link rel="icon" href="/assets/images/32x32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/assets/images/32x32.ico" sizes="32x32" type="image/x-icon" />
    <link rel="icon" href="/assets/images/64x64.png" sizes="64x64" type="image/png" />
    <link rel="icon" href="/assets/images/120x120.png" sizes="120x120" type="image/png" />
    <link rel="icon" href="/assets/images/128x128.png" sizes="128x128" type="image/png" />
    <link rel="icon" href="/assets/images/152x152.png" sizes="152x152" type="image/png" />
    <link rel="icon" href="/assets/images/167x167.png" sizes="167x167" type="image/png" />
    <link rel="icon" href="/assets/images/180x180.png" sizes="180x180" type="image/png" />
    <link rel="icon" href="/assets/images/192x192.png" sizes="192x192" type="image/png" />
    <link rel="icon" href="/assets/images/196x196.png" sizes="196x196" type="image/png" />
    <link rel="icon" href="/assets/images/256x256.png" sizes="256x256" type="image/png" />
    <link rel="icon" href="/assets/images/512x512.png" sizes="512x512" type="image/png" />
    <link rel="icon" href="/assets/images/600x600.png" sizes="600x600" type="image/png" />
    <link rel="icon" href="/assets/images/1024x1024.png" sizes="1024x1024" type="image/png" />
    <link rel="apple-touch-icon" href="/assets/images/120x120-maskable.png" sizes="120x120" type="image/png" />
    <link rel="apple-touch-icon" href="/assets/images/152x152-maskable.png" sizes="152x152" type="image/png" />
    <link rel="apple-touch-icon" href="/assets/images/167x167-maskable.png" sizes="167x167" type="image/png" />
    <link rel="apple-touch-icon" href="/assets/images/180x180-maskable.png" sizes="180x180" type="image/png" />
    <link rel="manifest" href="manifest.json" />

    @* Twitter card. When a user shares a song, we show a full card containing album art and song info. *@
    <meta name="twitter:site" content="@Model.TwitterHandle">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="@Model.Title" />
    <meta name="twitter:title" content="@Model.Title" />
    <meta name="twitter:description" content="@Model.Description" />
    <meta name="twitter:image" content="@Model.SocialCardImage" />

    @*Facebook share info. See https://developers.facebook.com/docs/sharing/webmasters/*@
    <meta property="og:url" content="@Model.SocialCardUrl" />
    <meta property="og:type" content="@Model.SocialCardType" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Description" />
    <meta property="og:image" content="@Model.SocialCardImage" />

    @* Shoelace light mode and dark mode CSS *@
    <link rel="stylesheet" media="(prefers-color-scheme:light)" href="https://cdn.jsdelivr.net/npm/@@shoelace-style/shoelace@2.7.0/cdn/themes/light.css" />
    <link rel="stylesheet" media="(prefers-color-scheme:dark)" href="https://cdn.jsdelivr.net/npm/@@shoelace-style/shoelace@2.7.0/cdn/themes/light.css" onload="document.documentElement.classList.add('sl-theme-dark');" />
        
    @* In production and staging environments, use our real index files *@
    <environment include="Production,Staging">
        <link rel="stylesheet" asp-href-include="~/code/index-*.css">
        <script type="module" asp-src-include="~/code/index-*.js"></script>

        <script>
            if ('serviceWorker' in navigator) { 
                window.addEventListener("load", () => navigator.serviceWorker.register('/service-worker.js', { scope: '/' }));
            }
        </script>
    </environment>

    @* In development, we just point to our Vite dev server *@
    <environment include="Development">
        <script type="module" src="http://localhost:7777/src/app-index.ts"></script>
    </environment>
    <style>
        :root {
            --title-font: 'Homemade Apple', cursive;
            --subtitle-font: 'Lora', serif;
            --theme-color: #0b0974;
            --highlight-orange: #febf04;
            --highlight-background: linear-gradient(rgb(255, 214, 94) 0%, #febf04 100%);
            --highlight-border-radius: 60px 30px 35px 15px / 25px 38px 66px 53px;
            --highlight-box-shadow: rgb(255 214 94 / 90%) 2px 2px 10px;
        }

        body {
            width: calc(100vw - (8px * 2));
            height: calc(100vh - (8px * 2));
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
`