@page "/chordsheets/{chordId}"
@model MessianicChords.Pages.ChordDetailsModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Title;
}

<section class="chord-details-page">
    <div class="text-center">
        <h1 class="p-5">
            @Model.ChordSheet.Song <small class="site-text" style="font-size: 0.4em;">by</small>
            <a href="/?search=@Uri.EscapeUriString(Model.ChordSheet.Artist)" style="font-family: 'Homemade Apple', cursive; margin-left: 10px;">@Model.ChordSheet.Artist</a>
        </h1>

        <iframe id="g-doc-frame" src="@Model.IFrameUri" title="@Model.ChordSheet.Song by @Model.ChordSheet.Artist" allowfullscreen frameborder="0" style="min-height: @(Model.IFrameHeight)px;"></iframe>
        <div class="chord-page-options mt-4">
            <p class="site-text">Display problems? <a href="@Model.ChordSheet.Address">View on Google Drive</a></p>
            <p>
                @*<button class="btn btn-link" onclick="printChordSheet()">
                        <i class="fa fa-print"></i> Print
                    </button>*@
                <a target="_blank" href="@Model.PrintUri">Print</a>
                |
                <a href="/?search=@Uri.EscapeDataString(Model.ChordSheet.Artist)">More chords from @Model.ChordSheet.Artist</a> |
                <a href="http://messianicradio.com?artist=@Uri.EscapeDataString(Model.ChordSheet.Artist)" target="_blank">Listen to songs from @Model.ChordSheet.Artist on Chavah Messianic Radio</a>
            </p>
        </div>
    </div>

    @*Put the raw text in the page too for search engines.*@
    <p style="display: none">
        @Model.ChordSheet.PlainTextContents
    </p>
</section>