@model MessianicChords.Models.ChordSheet
@{
    ViewBag.Title = string.Format("{0} by {1} on MessianicChords.com", Model.Song, Model.Artist);
}

<div style="text-align: center;">
    <h1>
        @Model.Song <small class="site-text" style="font-size: 0.4em;">by</small>
        <a href="/#@Uri.EscapeUriString(Model.Artist)" style="font-family: 'Homemade Apple', cursive; margin-left: 10px;">@Model.Artist</a>
    </h1>
    <iframe src="https://docs.google.com/file/d/@(Model.GoogleDocId)/preview" allowfullscreen frameborder="0" style="min-height: 1100px; min-width: 850px;"></iframe>
    <div class="chord-page-options">
        <p class="site-text">Display problems? <a href="@Model.Address">View on Google Drive</a></p>
        <p>
            <a href="#" onclick="window.print()"><i class="fa fa-print"></i> Print</a> |
            <a href="/#@Uri.EscapeUriString(Model.Artist)">More chords from @Model.Artist</a> |
            <a href="http://messianicradio.com?artist=@Model.Artist.Replace("&", "%26")" target="_blank">Listen to songs from @Model.Artist on Chavah Messianic Radio</a>
        </p>
    </div>
</div>


