@using MessianicChords.Api.Models;
@{
    Layout = null;
}
@model ReviewNewChordSubmission
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Review new chord chart submission - Messianic Chords</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <h1>New Chords available</h1>
    <p>Someone uploaded new chords sheets to Messianic Chords.</p>
    <h2>Title: @Model.NewChordChart.Song @Model.NewChordChart.HebrewSongName</h2>
    <h3>Artist: @Model.NewChordChart.Artist</h3>
    <h3>Authors: @string.Join(", ", Model.NewChordChart.Authors)</h3>
    <p>
        Chords:
        <br />
        <pre style="font-family: monospace">@Model.NewChordChart.Chords</pre>
    </p>
    <p>Attachments: 
        @foreach (var attachment in Model.NewChordChart.SavedAttachments)
        {
            <br />
            <a href="@attachment.CdnUri">@attachment.UntrustedUserFileName</a>
        }
    </p>
    <p>
        Links: 
        @foreach (var link in Model.NewChordChart.Links)
        {
            <br />
            <a href="@link">@link</a>
        }
    </p>
    <p>Key: @Model.NewChordChart.Key</p>
    <p>Capo: @Model.NewChordChart.Capo</p>
    <p>Scripture: @Model.NewChordChart.Scripture</p>
    <p>Copyright: @Model.NewChordChart.Copyright</p>
    <p>CCLI: @Model.NewChordChart.CcliNumber</p>
    <p>Year: @Model.NewChordChart.Year</p>
    <p>Sheet music: @Model.NewChordChart.IsSheetMusic</p>
    <p>About: @Model.NewChordChart.About</p>
    <br />
    <br />
    <h2>
        <a href='/chords/ApproveRejectSubmission?submissionId=@Uri.EscapeDataString(Model.NewChordChart.Id ?? string.Empty)&approved=true&token=@Model.Token'>Approve</a>
        or 
        <a href='/chords/ApproveRejectSubmission?submissionId=@Uri.EscapeDataString(Model.NewChordChart.Id ?? string.Empty)&approved=false&token=@Model.Token'>Reject</a>
    </h2>
</body>
</html>